name: Diagram Generation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.15.1
          
      - name: request node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Core
        run: pnpm --filter @polagraph/core build

      - name: Build CLI
        run: pnpm --filter @polagraph/cli build

      - name: Generate Core Diagrams
        run: pnpm --filter @polagraph/core run gen:docs

      - name: Commit Generated Diagrams
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: generate mermaid diagrams [skip ci]"
          file_pattern: 'packages/core/docs/sequence/generated/**'
